<style>
    textarea {
        height: 75px !important;
    }

    .table > tbody > tr > td {
        text-align:center;
        vertical-align: middle;
    }

    .table > thead > tr > th {
        text-align:center;
        vertical-align: middle;
    }

    .sortButton{
        width:10px;
        height:10px;
        font-size: 16px;
    }

    .astext {
        background:none;
        border:none;
        margin:0;
        padding:0;
        cursor: pointer;
    }
</style>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="#">Tasks Managenement</a>
        </li>
        <li role="presentation">
            <a href="./render?model=$_[infrastructure.internal.assets.default]/api/v1/public/renders/utils/director/tasksTesting/model.json&view=$_[infrastructure.internal.assets.default]/api/v1/public/renders/utils/director/tasksTesting/view.html&ctrl=$_[infrastructure.internal.assets.default]/api/v1/public/renders/utils/director/tasksTesting/controller.js">Tasks testing</a>
        </li>
    </ul>

    <h2 style="margin-top:40px;">Create Task</h2>
    <div class="table-responsive">
        <div ng-if="displayMessage">
            <div ng-if="message === 'ok'">
                <div class="alert alert-success" role="alert"><strong>{{responseCode}}</strong> {{taskCreationResponse}}</div>
            </div>
            <div ng-if="message === 'badRequest'">
                <div class="alert alert-danger" role="alert"><strong>{{responseCode}}</strong> {{taskCreationResponse}}</div>
            </div>
            <div ng-if="message === 'badFields'">
                <div class="alert alert-danger" role="alert">{{taskCreationResponse}}</div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Running</th>
                    <th>Init</th>
                    <th>Interval</th>
                    <th>End</th>
                    <th>Script</th>
                    <th>Configuration</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td><textarea ng-model="taskId" type="text" class="form-control" placeholder="12345" style="width: 75px"></textarea></td>
                        <td><input ng-model="taskRunning" type="checkbox"></td>
                        <td ><input ng-model="taskInit" type="datetime-local" class="form-control" placeholder="24/06/2022T00:00:00" style="width: 190px"></td>
                        <td><input ng-model="taskInterval" type="number" class="form-control" placeholder="5000"></td>
                        <td><input ng-model="taskEnd" type="datetime-local" class="form-control" placeholder="24/08/2022T00:00:00" style="width: 190px"></td>
                        <td><textarea ng-model="taskScript" type="text" class="form-control" style="width: 175px"></textarea></td>
                        <td><textarea ng-model="taskConfiguration" type="text" class="form-control" style="width: 175px"></textarea></td>
                        <td><button ng-click="createTask()" class="btn btn-primary">Create</button></td>
                    </tr>
            </tbody>
        </table>
    </div>

    <h2>Director Tasks</h2>
    <div class="table-responsive" style="margin-top:15px;">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Id
                        <button ng-click="sortTasks('id')" class="astext sortButton">
                            <p>⬆</p>
                        </button>
                        <button ng-click="sortTasksReverse('id')" class="astext sortButton">
                            <p>⬇</p>
                        </button>
                    </th>
                    <th>Initial
                        <button ng-click="sortTasks('init')" class="astext sortButton">
                            <p>⬆</p>
                        </button>
                        <button ng-click="sortTasksReverse('init')" class="astext sortButton">
                            <p>⬇</p>
                        </button>
                    </th>
                    <th>Interval</th>
                    <th>End
                        <button ng-click="sortTasks('end')" class="astext sortButton">
                            <p>⬆</p>
                        </button>
                        <button ng-click="sortTasksReverse('end')" class="astext sortButton">
                            <p>⬇</p>
                        </button>
                    </th>
                    <th>Script</th>
                    <th>Configuration
                        <button ng-click="sortTasks('configuration')" class="astext sortButton">
                            <p>⬆</p>
                        </button>
                        <button ng-click="sortTasksReverse('configuration')" class="astext sortButton">
                            <p>⬇</p>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                    <tr ng-repeat="task in tasks">
                        <td style="width: 75px">{{task.id}}</td>
                        <td>{{task.init}}</td>
                        <td>{{task.interval}}</td>
                        <td>{{task.end}}</td>
                        <td><textarea style="width: 175px;" readonly>{{task.script}}</textarea></td>
                        <td><textarea style="width: 150px;" readonly>{{task.configuration}}</textarea></td>
                        <td>
                            <div ng-if="task.running">
                                <img src = "$_[infrastructure.external.assets.default]/api/v1/public/renders/utils/director/tasksManagement/images/running.svg"/>
                            </div>
                            <div ng-if="!task.running">
                                <img src = "$_[infrastructure.external.assets.default]/api/v1/public/renders/utils/director/tasksManagement/images/stopped.svg"/>
                            </div>
                        </td>
                        <td><button ng-click="changeStatus(task)" class="btn btn-primary">Start/Stop</button></td>
                        <td><button ng-click="deleteTask(task)" class="btn btn-danger">Delete</button></td>
                    </tr>
            </tbody>
        </table>
    </div>
</body>