<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : StoneWork 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140228

-->
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title></title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
		<link href="./index/default.css" rel="stylesheet" type="text/css" media="all" />
		<link href="./index/fonts.css" rel="stylesheet" type="text/css" media="all" />

		<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

	</head>

	<style>
		body{
			background: url("./index/images/blue_mountains_1.jpg") !important;
			background-size: auto !important;
			background-attachment: fixed !important;	
		}
	</style>

	<body>
		<div id="wrapper" style="padding: 0 0 40px 0; margin: 5vh 0; min-height: 90vh;">
			<div id="three-column" class="container" style="margin: 0; padding: 0; width: 100%;">

				<!-- ---------------- Buttons ---------------- -->
				<span ng-if="!initialsetup && !setupdomain && !setuptpa && !edittpa" class="col-xs-offset-9" style="position:absolute; top:10px; right:10px; margin:0;">
					<a href="https://dashboard.bluejay.governify.io/d/Zeeff8kMd/class-dashboard?orgId=1" target="_blank"
						class="btn btn-success">
						General Dashboard
					</a>
					<button class="btn btn-info" ng-click="editDefaultTPA()">
						Edit default TPA
					</button>
					<a href="./render?model=/index/model.json&view=/index/adminview.html&ctrl=/index/admincontroller.js"
						class="btn btn-primary disabled">
						Admin UI
					</a>
				</span>


				<!-- ---------------- Top introduction ---------------- -->
				<div class="title" style="padding: 55px 0; margin: 0">
					<h2>{{model.SERVICES_PREFIX}} BLUEJAY</h2>
					<span class="byline">Best Practices Auditor</span>
				</div>				
				<hr style="margin-top: 0;" />

				<!-- ---------------- Alerts (FIXED to top)---------------- -->
				<div ng-if="displayItems.statusType !== undefined" class="alert alert-dismissible {{displayItems.statusType === 'error' ? 'alert-danger' : 'alert-success'}}" 
				  role="alert" style="position: absolute; width: 100%; z-index: 1;top: 150px;">
					<button type="button" class="close" aria-label="Close" ng-click="displayItems.statusType = undefined"><span aria-hidden="true"></span>&times;</span></button>
					<strong>{{displayItems.statusType === 'error' ? 'Error!' : 'Success!'}}</strong> {{displayItems.statusMessage}}
				</div>				
				


				<!-- ---------------- Initial Setup - REMAKE? ---------------- -->				
				<!-- <span ng-if="initialsetup">
					<h3>Initial setup</h3><br>
					<span style="font-size: 18px">
						<span ng-if="setupdomain" style="font-weight: bold; color: darkslategray">1. Root domain</span>
						<span ng-if="!setupdomain && (setuptoken || setuptpa)" style="color: gray"><del>1. Root
								domain</del></span>
						<span ng-if="!setupdomain && !setuptoken && !setuptpa">1. Root domain</span>
						—
						<span ng-if="setuptoken" style="font-weight: bold; color: darkslategray">2. Pivotal Tracker
							token</span>
						<span ng-if="!setuptoken && setuptpa" style="color: gray"><del>2. Pivotal Tracker
								token</del></span>
						<span ng-if="!setuptoken && !setuptpa">2. Pivotal Tracker token</span>
						—
						<span ng-if="setuptpa" style="font-weight: bold; color: darkslategray">3. Default TPA</span>
						<span ng-if="!setuptpa">3. Default TPA</span>
					</span>
					<br><br><br>
					<div ng-if="!setupdomain && !setuptoken && !setuptpa" class="col-xs-10 col-xs-offset-1">
						<p>It seems that this is the first time you access the Eagle UI. Therefore, you need to
							complete the initial setup before using the application.</p>
						<button class="btn btn-success" type="submit" ng-click="acceptDomain()">OK</button>
					</div>
				</span>
				<span ng-if="setupdomain" class="col-xs-10 col-xs-offset-1">
					<p>First, you must specify your domain. Do not include any initial or trailing dots.</p>
					<p>For example, if you are visiting this page through 'ui.eagle.test.com', please enter
						'eagle.test.com', without the apostrophes.</p>
					<p>The system will try to automatically retrieve the domain and fill in the field below.</p>
					<div class="form-group">
						<label for="domn">Root domain:</label>
						<div class="input-group col-xs-4 col-xs-offset-4">
							<input type="text" class="form-control" id="domn" ng-model="domn">
							<span class="input-group-btn">
								<button class="btn btn-success" type="submit" ng-click="setDomain(domn)">
									OK
								</button>
							</span>
						</div>
					</div>
				</span>
				<span ng-if="setuptoken" class="col-xs-10 col-xs-offset-1">
					<p>Now, you will need to enter your Pivotal Tracker token. This token can be retrieved from your
						Pivotal Tracker profile. Click on your username in the top right corner of the Pivotal Tracker
						website, click Profile, and find the API token section.</p>
					<p> It will be used to display and manage the projects through this UI, as
						well as to compute the different metrics.</p>
					<div class="form-group">
						<label for="domn">Pivotal Tracker token:</label>
						<div class="input-group col-xs-4 col-xs-offset-4">
							<input type="text" class="form-control" id="token" ng-model="token">
							<span class="input-group-btn">
								<button class="btn btn-success" type="submit" ng-click="setToken(token)">
									OK
								</button>
							</span>
						</div>
					</div>
				</span> -->

				<!-- ---------------- Courses selection and projects ---------------- -->
				<span ng-if="setuptpa || edittpa" class="col-xs-10 col-xs-offset-1">
					<span ng-if="!edittpa">
						<p>Finally, please set up the following TPA. This TPA will be set as a default template. You may
							edit
							the different metrics and objectives. You will also be able to modify the TPA later, by clicking
							on the 'Edit default TPA' button that will appear on the lower right corner of this page.</p>
						<p>Please note that any occurrence of '1010101010' inside the TPA will be replaced by a project ID
							when a TPA for said project is created. Do not use that pattern unless you want it to be
							replaced</p>
					</span>
					<div class="form-group">
						<label for="deftpa">Default TPA:</label>
						<div class="input-group col-xs-10 col-xs-offset-1">
							<textarea class="form-control" rows="20" id="deftpa" ng-model="deftpa"
								style="font-family: monospace"></textarea>
							<button class="btn btn-success" type="submit" ng-click="updateDefaultTPA(deftpa)">
								<span ng-if="setuptpa">Create</span>
								<span ng-if="edittpa">Update</span>
							</button>
						</div>
					</div>
				</span>

				<!-- ---------------- Courses selection and projects ---------------- -->

				<div style="padding: 15px 0 50px 0">
					<div ng-if="displayItems.loadedCourses" class="form-group col-sm-10 col-sm-offset-1" style="margin-bottom: 40px; padding: 0;">
						<label style="float: left; margin: 5px 8px 0 0">Course</label>
						<select ng-model="displayItems.course" class="form-control" id="metricType"
							style="width: 56em; float: left; margin: 0 1em;">
							<option ng-repeat="course in developmentScopeJSON">{{course.classId}}</option>
						</select>
						<button ng-if="finishloading" class="btn btn-success btn-success" ng-click="reloadProjects()" style="margin-left: 6px;">
							Load Course
						</button>
						<button ng-if="!finishloading" class="btn btn-success btn-danger disabled" style="margin-left: 6px; padding: 6px 19px">
							Loading ...
						</button>
					</div>
					<div ng-if="!finishloading && !initialsetup && !setupdomain && !setuptpa && !edittpa" style="position:absolute; left:50%; top:60%; margin-left: -171px; margin-top: -72px;">
						<img src="./utils/img/loading1_big_lgbg.gif" style="height: 100px;" />
						<span style="font-size: 25px; margin-top: 10px;" class="col-sm-12">
							{{displayItems.loadedCourses ? 'Retrieving projects...' : 'Retrieving courses...'}}					
						</span>				
					</div>
					
					<div class="row" ng-if="finishloading" style="width: 100%; margin: 0;">
						<div class="col-sm-5 col-sm-offset-1" style="padding: 0;">
							<div class="well" style="margin-right: 50px">
								<h3 style="padding-bottom: 20px;">Audited projects</h3>
								<ul>
									<li ng-repeat="project in tpaprojects track by project.projectId"
										style="padding: 0.5em; text-align: left;">
											<strong>{{project.projectId}}</strong>
										<a target="_blank"
											href="{{project.registryagreement.context.infrastructure.dashboard}}/dashboard/script/dashboardLoader.js?dashboardURL={{project.urlReporterHttps}}/dashboards/{{project.registryagreement.id}}/tpa"
											class="btn btn-success" style="margin-left: 0.5em; padding: 0 5px; float: right;">
											Dashboard
										</a>
										<a href="./render?model={{project.urlRegistryHttps}}/agreements/tpa-{{project.projectId}}&view=/renders/tpa/default.html&ctrl=/renders/tpa/default.js"
											target="_blank" class="btn btn-info" style="margin-left: 0.5em;padding: 0 5px; float: right;">TPA</a>
									</li>
									<li ng-if="tpaprojects.length == 0"><strong>There are no audited projects for this course yet.</strong></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-5" style="padding: 0;" >
							<div class="well" style="margin-left: 50px">
								<h3 style="padding-bottom: 20px;">Other projects</h3>
								<ul>
									<li ng-repeat="project in notpaprojects track by project.projectId"
										style="padding: 0.5em; text-align: left;">
										<strong>{{project.projectId}}</strong>
										<a href="./render?model=http://registry.{{domain}}/api/v6/agreements/tpa-{{project.projectId}}&view=/renders/tpa/default.html&ctrl=/renders/tpa/default.js"
											target="_blank" ng-click="createTpa(project);" class="btn btn-success"
											style="margin-left: 0.5em; padding: 0 5px; float:right">
											Create TPA
										</a>
									</li>
									<li ng-if="notpaprojects.length == 0"><strong>There are no more projects to audit.</strong></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="version" style="position: absolute; bottom: 10px; right:10px; color:black">
				{{model.version}}
			</div>
		</div>
	</body>
</html>