.btn{
    background-color: #7CDAFF!important;
    font-size:0.8vw;
    color:white;
    height: 36px;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
}

.btn:hover{
    color:grey;
}
.btn-succ{
    background-color: #61D5D4!important;
}
.btn-warn{
    background-color: #E94949!important;
}
.loading-div{
    left:35%;
    text-align: center;
}
.loading-gif{
    width:20%;
    position:relative;
}

.card{
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
}

h2{
    font-weight: 300;font-size: 3.56rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
}

ul{
    list-style-type:none;
    margin: 1rem 0 1rem 0;
}

.tableWrapper{
    margin-top: 3rem; 
}

td{
    padding: 15px 5px !important;
    vertical-align: middle;
}

.footer-container{
    height:60px;
    width:100vw;
    background-color:#2196F3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    position: absolute;
    left: 0;
}

.footer-text{
    position: absolute;
    left: 15.5%;
}

h3{
    font-weight: 400;
}

.modal-textarea{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    outline: none;
    resize: none;
    margin: 0 0 20px 0;
    min-height: 5rem;
}

.remove-override{
    color: #E76363;
    cursor: pointer;
}

.undo-override{
    color: #43B6E9;
    cursor: pointer;
}

.comentario-textarea{
    outline: none;
    resize:none;
}

a:link {color:#039be5;text-decoration:none;}
a:visited {color:#551A8B;text-decoration:none;}
a:hover {text-decoration:underline;}
