<style>
    .halfTextarea{
        height: 250px !important;
    }

    .fullTextarea{
        height: 645px !important;
    }
    
    .message{
        margin-top: 10px;
    }

    button{
        height: 40px;
        font-size: 16px;
        width: 75;
        margin-top: 10px;
    }

    .buttonTest{
        width: 65;
    }

    .buttonLoad{
        width: 100;
    }
</style>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
    <ul class="nav nav-tabs">
        <li role="presentation">
            <a href="./render?model=$_[infrastructure.internal.assets.default]/api/v1/public/renders/utils/director/tasksManagement/model.json&view=$_[infrastructure.internal.assets.default]/api/v1/public/renders/utils/director/tasksManagement/view.html&ctrl=$_[infrastructure.internal.assets.default]/api/v1/public/renders/utils/director/tasksManagement/controller.js">Tasks Managenement</a>
        </li>
        <li role="presentation" class="active">
            <a href="#">Tasks testing</a>
        </li>
    </ul>

    <div class="row row-equal">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-equal">
            <h2>Test Task</h2>
            <div style="margin-top:30px;">
                <h4>Script Text</h4>
                <textarea ng-model="form.scriptText" type="text" class="form-control halfTextarea" id="scriptText"></textarea>

                <input type="file" id="file" name="file" style="margin-top:10px"/>
                <button ng-click="loadFile()" class="btn btn-primary buttonLoad">Load Script</button>
                <div style="margin-top:30px;">
                    <h4>Script Configuration</h4>
                    <textarea ng-model="form.scriptConfig" type="text" class="form-control halfTextarea"></textarea>
                    <button ng-click="testScript()" class="btn btn-primary buttonTest">Test</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-equal">
            <div ng-if="displayMessage">
                <div ng-if="message === 'ok'">
                    <div class="alert alert-success message" role="alert"><strong>{{responseCode}}</strong> {{taskTestResponse}}</div>
                </div>
                <div ng-if="message === 'error'">
                    <div class="alert alert-danger message" role="alert"><strong>{{responseCode}}</strong> {{taskTestResponse}}</div>
                </div>
                <div ng-if="message === 'badFields'">
                    <div class="alert alert-danger message" role="alert">{{taskTestResponse}}</div>
                </div>
            </div>
            <div ng-if="message === ''">
                    <h4 style="margin-top: 82px;">Result</h4>
                    <textarea class="form-control fullTextarea" readonly>{{scriptResponse}}</textarea>
            </div>
            <div ng-if="message !== ''">
                <h4>Result</h4>
                <textarea class="form-control fullTextarea" readonly>{{scriptResponse}}</textarea>
            </div>
        </div>  
    </div>
</body>
